process_trad.ipynb
process_trad.sh
results/dataset_splitting.ipynb
agent/agent_log.txt
results/traditional_feature_selection/feature_count.ipynb
results/GPT_agent.env
results/matrix_generation_accuracy.ipynb
rules.txt
matrix.txt